<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.prismatikremote.hartz.prismatikremote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="de.prismatikremote.hartz.prismatikremote.GlobalVars"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.Onboarding"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Profiles" />
        <activity android:name=".activities.Notifications" />
        <activity android:name=".activities.Console" />
        <activity android:name=".activities.Settings" />
        <activity
            android:name=".activities.Widgets"
            android:windowSoftInputMode="stateUnchanged" />

        <service
            android:name=".services.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".helper.ColorPickerActivity"/>
    </application>

</manifest>